@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web @* Asegúrate de tener este using *@

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    @* Corregido: Referencias a CSS (Verifica que estas carpetas existan en wwwroot) *@
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> @* Quité 'css/' si es la carpeta default *@
    <link href="css/site.css" rel="stylesheet" />
    <link href="DAM.Frontend.styles.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" /> @* Añadido rendermode aquí también *@
</head>
<body>
    <CascadingAuthenticationState>
        @* CRÍTICO: Añadir el rendermode para que los botones funcionen *@
        <Routes />
    </CascadingAuthenticationState>

    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>